<div id="{{marker.id}}"
     class="antix-map-marker {{marker.active?'antix-map-marker-active':''}} {{marker.class}}"
     tooltip="{{marker.title}}" tooltip-trigger="show"
     active="{{marker.active}}">

    <div ng-repeat="message in marker.messages" class="alert alert-info">
        {{message.text}}
    </div>
</div>
