<form name="sendForm" novalidate
      class="navbar-form navbar-right">
    <div class="form-group">
        <input type="email" required
               class="form-control" placeholder="email"
               ng-model="email"
               ng-change="status='Send'">
    </div>
    <button type="submit" class="btn btn-primary"
            ng-click="send()"
            ng-disabled="sendForm.$invalid">
        {{status}}
    </button>
</form>