@using Sandbox.HitMe.Portal.Client.home

<div class="tag">
    <div class="container">
        @Html.Raw(HomeResources.Tag)
    </div>
</div>

<div class="map">
    <div class="container">
        <div antix-map></div>
    </div>
</div>