@import "bootstrap/bootstrap.less";
@import "site/status.less";

@body-bg: @brand-primary;
@text-color: #222;
@map-sea: lighten(@body-bg, 2%);

@border-radius-base: 2px;

body {
    padding-top: @navbar-height;
}

.tag {
    background-color: darken(@body-bg, 10%);
    color: @list-group-active-text-color;
    margin: 10px 0;
    padding: 0 0 10px;
    overflow: auto;
}

.tag a {
    color: lighten(@link-color, 20%);
}

.tag a:hover,
.tag a:active {
    color: @list-group-active-text-color;
}

.antix-map {
    background-color: @map-sea;
    max-width: 950px;
    margin: 0 auto;

    .antix-map-canvas {
        position: relative;
        padding: 1% 0;

        > img {
            width: 100%;
        }

        .antix-map-marker {
            position: absolute;
            overflow: visible;
            border: solid 1px #000;
            width: 2px;
            height: 2px;
            border-radius: 1px;

            &.you {
                width: 4px;
                height: 4px;
                border-radius: 2px;
            }
            &.sniper{
                border: solid 1px #c33;
                width: 6px;
                height: 6px;
                border-radius: 3px;
            }
            .alert{
                position:absolute;
                width:auto;
            }
        }
    }
}

.form-control {
    transition: 0.5s linear all;
}

.form-control.ng-dirty.ng-touched.ng-invalid {
    border-color: rgba(240,48,48,.6);
}

[name='sendForm'] button {
    width: 100px;
}
