@import "bootstrap/bootstrap.less";
@import "site/status.less";

@body-bg: @brand-primary;
@text-color:#222;
@map-sea: lighten(@body-bg, 1%);

@border-radius-base:2px;

body {
    padding-top: @navbar-height + 20px;    
}

.antix-map {
    background-color: @map-sea;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    
    .antix-map-canvas {
        position:relative;

        padding:1% 0;

        >img{
            width:100%;
        }

        .antix-map-marker{
            position:absolute;
            overflow:visible;
            width:2px; height:2px;
            background-color:#000;
        }
    }
}


.form-control {
  transition:0.5s linear all;
}
.form-control.ng-dirty.ng-touched.ng-invalid {
  border-color: rgba(240,48,48,.6);
}

[name='sendForm'] button{
    width:100px;
}