<div ng-show="show" class="a-status message {{status?'message-'+status.type:''}}">
    <button type="button" class="close" ng-click="hide()">
        <span>&times;</span>
    </button>
    <div class="text">{{status.message}}</div>
</div>
